## 2. 자료형
### 2.1 숫자(Number)

In [5]:
import math

- 정수(Integer)

In [7]:
## +, -, *
4 + 3, 4 - 3, 4 * 3         #tuple
#a, b, c = 4 + 3, 4 - 3, 4 * 3

(7, 1, 12)

In [8]:
# / : 정수 / 정수 ==> 실수
4 / 3

1.3333333333333333

In [10]:
# // : 몫, % : 나머지
7 // 3, 7 % 3

(2, 1)

In [15]:
# 1차원을 2차원으로 변경할 경우, row 인덱스, column 인덱스를 구할 경우 사용될 수 있음.
q, r = divmod(7, 3)
q, r

(2, 1)

In [16]:
# 거듭 제곱
2 ** 10, math.pow(2,10)

(1024, 1024.0)

In [22]:
# 실수 --> 정수 변환
int(math.pi), math.ceil(math.pi), math.floor(math.pi)
# 자리 자르기,     올림         ,      내림

(3, 4, 3)

In [20]:
# 문자열 --> 정수 변환
int('21')

21

In [23]:
# 실수 문자열을 정수로 변환하는 것은 불가
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

- 정수 표현: 2진수(binary), 8진수(octal), 16진수(hexadecimal)

In [39]:
0b00010101      # 2진수

21

In [40]:
0o0025          # 8진수

21

In [41]:
0x0015          # 16진수

21

- 실수(Floating point)

In [29]:
# 타입 확인
a, b, c = [], {}, ()
type(5), type(3.14), type('10'), type(a), type(b), type(c)

(int, float, str, list, dict, tuple)

In [30]:
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [34]:
# 실수 연산은 정수 연산과는 다르게 값이 정확하지 않음
sum = 0.
for i in range(1,101):
    sum += i * 0.001
print(sum)

5.050000000000001

In [35]:
print(sum == 5.05)

False

In [36]:
abs(sum - 5.05) < 1e-10

True

In [42]:
# 정수와 실수의 혼합 연산
4.2 + 5, 4.0 + 5

(9.2, 9.0)

In [45]:
# 값을 실수로 변환
float(3), float('3'), float('3.14') # double('3,14') 오류

(3.0, 3.0, 3.14)

In [46]:
3 * 5 + 4, 4 + 5 * 3

(19, 19)

In [50]:
#unary operator
2**-2, 2**0.5

(0.25, 1.4142135623730951)

In [49]:
2**2*2, 2*2**2

(8, 8)