### 4.1 리스트(List)

In [2]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [4]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 섞어서 사용할 수 있음
person = ['James', 27, 'programmer', 175.4]
print(person)

['James', 27, 'programmer', 175.4]

- 인덱싱

In [6]:
a[0], a[-1], person[2]

(3, 23, 'programmer')

- 슬라이싱

In [11]:
a[1:4], a[:2], a[3:], a[::2], a[::-1]

([7, 12, 16], [3, 7], [16, 23], [3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [12]:
a[0] = 1
a[-1] = 31
a

[1, 7, 12, 16, 31]

In [13]:
a[2] = [10, 20]
a

[1, 7, [10, 20], 16, 31]

In [16]:
# 새로 입력한 값 10 인덱싱
a[2][0]

10

In [19]:
# 슬라이싱으로 값을 변경
a[3:] = [45, 78]
a

[1, 7, [10, 20], 45, 78]

In [20]:
a[:2] = [100, 200, 300]
a

[100, 200, 300, [10, 20], 45, 78]

In [22]:
a[3][1] = [-1, -3, -5]
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [26]:
a[1:2] = [500, 600]
a

[100, 500, 600, 600, 600, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [27]:
a[2:5] = [600]
a

[100, 500, 600, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [29]:
# 리스트 맨 뒤에 값을 추가시키려면
# a[7] = 20 -> 오류
a.append(20) # 1개의 값만 가능
# 제일 뒤에 여러개를 추가할 땐 a[-1] = [-1값, 추가할 값, 추가할 값, ...]

-1

- 빈 리스트 만들기

In [49]:
b = []
c = list()

In [55]:
import random
for i in range(5):
    b.append(random.randint(1, 6))
b

[4, 5, 1, 6, 6, 1, 1, 4, 2, 1]

- 리스트 연산

In [57]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b           # 리스트 연결 (concatanation)

[1, 2, 3, 4, 5, 6]

In [58]:
a * 3       # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [59]:
len(a), type(a)

(3, list)

In [60]:
min(a), max(a), sum(a)

(1, 3, 6)

In [61]:
list(reversed(a))

[3, 2, 1]

In [62]:
sorted([44, 8, 9, 3, 25])

[3, 8, 9, 25, 44]

### Tuple(튜플)
- 일단 생성되면 값을 변경할 수 없음(immutable)

In [63]:
t = (4, 35, 7 ,24, 10)
type(t), t

(tuple, (4, 35, 7, 24, 10))

In [66]:
t = 4, 6, 12
type(t)

tuple

In [69]:
# 1개 원소를 갖는 튜플
# x = (4) -> int타입이다.
x = 4,
type(x)

tuple

In [71]:
# 리스트와 동일하게 인덱싱할 수 있음
t[0]

4

In [72]:
# 값을 변경할 수 없음, 추가할 수 없음
# t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/Tuple unpacking

In [75]:
x, y, z = (10, 20, 30)
print(x, y, z)
type(x)

10 20 30

int

In [76]:
x, y, z = [3, 4, 5]
x, y, z

(3, 4, 5)

In [77]:
list('ABC')

['A', 'B', 'C']

In [78]:
x, y, z = list('ABC')
x, y ,z

('A', 'B', 'C')