### 4.8 표현식(Comprehension)
- 1차원 리스트 표현식

In [3]:
# 1에서 10까지 제곱수로 된 리스트 만들기
# 방법 1
power_list = []
for i in range(1, 11):
    power_list.append(i * i)
power_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# 방법 2 - 리스트 표현식
power_list = [ i * i for i in range(1, 11) ]
power_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# 방법 3 - map, lambda 함수
power_list = list(map(lambda x: x* x, range(1, 11)))
power_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# 3에서 12까지 2의 제곱수
power2 = []
for i in range(3, 13):
    power2.append(2 ** i)
power2

[8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [10]:
power2 = [ 2 ** i for i in range(3, 13) ]
power2

[8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

- 조건이 들어가는 리스트 표현식

In [16]:
# 두 수(m, n, 단 m < n)를 입력을 받아서 m부터 n까지 홀수의 제곱 리스트를 만드는 경우
odd_square_list = []
m, n = map(int, input().split())
for i in range(m, n+1):
    if i % 2 == 1:
        odd_square_list.append(i * i)
odd_square_list

[9, 25, 49, 81, 121]

In [13]:
m, n = map(int, input().split())
odd_square_list = [ i * i for i in range(m, n+1) if i % 2 == 1 ]
odd_square_list

[9, 25, 49, 81, 121]

In [20]:
# 다음 과일 중 a 글자가 들어가 있는 과일의 리스트를 만드시오.
fruits = ['apple', 'banana', 'cherry', 'mango', 'melon', 'peach']
list1 = [ i for i in fruits if 'a' in i]
list1

['apple', 'banana', 'mango', 'peach']

In [23]:
# 이름의 길이가 5인 과일 리스트
fruits_five = [ i for i in fruits if 5 == len(i)]
fruits_five

['apple', 'mango', 'melon', 'peach']

In [26]:
# 과일 이름에 'a'와 'e'가 포함된 과일 리스트
fruits_b = [ i for i in fruits if 'a'in i and 'e' in i]
fruits_b

['apple', 'peach']

- Nested for

In [28]:
# 구구단
gugudan = []
for i in range(2, 10):
    for k in range(1, 10):
        gugudan.append( i * k )
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [30]:
gugudan = [ i * k for i in range(2, 10) for k in range(1, 10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

- 딕셔너리 표현식

In [31]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [33]:
# 값이 짝수인 놈의 딕셔너리
even_dict = {key:value for key, value in d.items() if value % 2 == 0}
even_dict

{'b': 2, 'd': 4, 'f': 6}

In [36]:
# key와 value를 바꿔서 딕셔너리 만들기
dict1 = { value : key for key, value in d.items() }
dict1

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

In [39]:
# 1에서 100까지 0, 1, ..., 9는 몇번 사용되는가?
# 단, 딕셔너리로 표현하세요.
digits = ''
for i in range(1, 101):
    digits += str(i)

'123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100'

In [40]:
num_dict = {}
for i in range(10):
    num_dict[i] = digits.count(str(i))
num_dict

{0: 11, 1: 21, 2: 20, 3: 20, 4: 20, 5: 20, 6: 20, 7: 20, 8: 20, 9: 20}

In [43]:
#
num_dict = { i : digits.count(str(i)) for i in range(10) }
num_dict

{0: 11, 1: 21, 2: 20, 3: 20, 4: 20, 5: 20, 6: 20, 7: 20, 8: 20, 9: 20}

In [47]:
# fruits를 {1:'apple'm, 2:'banana', 3:'cherry', ...}
fruits = ['apple', 'banana', 'cherry', 'mango', 'melon', 'peach']
dict_fruits = { i+1 : fruits[i] for i in range(len(fruits))}
dict_fruits

TypeError: can only concatenate tuple (not "int") to tuple