### 4.9 2차원 리스트

In [2]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [13]:
from pprint import pprint
pprint(a, width = 20)

[[10, 20],
 [30, 40],
 [50, 60]]

In [6]:
import numpy as np
b = np.arange(10, 61, 10).reshape(3, 2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [16]:
import pandas as pd
df = pd.DataFrame(b, columns = ['first', 'second'])
df

   first  second
0     10      20
1     30      40
2     50      60

- 인덱싱

In [17]:
# 30
a[1][0], b[1, 0], df['first'][1]   # b는 numpy # df변수로 찾는 방식은 pandas

(30, 30, 30)

- 2차원 리스트의 반복문

In [18]:
for row in a:
    print(row)

[10, 20]
[30, 40]
[50, 60]

In [19]:
len(a)

3

In [20]:
a[0]

[10, 20]

- 반복문으로 2차원 리스트 만들기

In [21]:
# 주사위를 던져서 나오는 눈으로 만든 3 x 4 리스트
import random
outer_list = []
for i in range(3):
    inner_list = []
    for k in range(4):
        inner_list.append(random.randint(1, 6))
    outer_list.append(inner_list)
pprint(outer_list, width=20)

[[5, 1, 4, 4],
 [6, 5, 3, 4],
 [3, 3, 4, 3]]

In [26]:
mines = []
for i in range(8):
    list_x = []
    for k in range(8):
        list_x.append('*' if random.random() > 0.7 else '.') 
    mines.append(list_x)
pd.DataFrame(mines, columns = ['1', '2', '3', '4', '5', '6', '7', '8'])

   1  2  3  4  5  6  7  8
0  .  .  *  .  .  .  .  *
1  .  .  .  .  .  *  *  .
2  .  .  *  .  *  .  *  .
3  .  .  .  .  *  *  .  *
4  *  .  .  *  .  *  *  .
5  .  .  .  *  .  .  *  *
6  .  .  .  .  .  .  .  .
7  .  .  .  .  .  .  .  .

- 표현식

In [29]:
outer_list = []
for i in range(3):
    inner_list = [ random.randint(1,6) for k in range(4) ]
    outer_list.append(inner_list)
pd.DataFrame(outer_list)

   0  1  2  3
0  2  3  1  5
1  4  1  6  6
2  4  4  5  6

In [30]:
outer_list = [[random.randint(1,6) for k in range(4)] for _ in range(3)]
pd.DataFrame(outer_list)

SyntaxError: invalid syntax (3688990767.py, line 1)